@import url('https://raw.githubusercontent.com/nightfire37/Fallout4TerminalTheme-NoCRT/main/css/main.css');
/* ^ THIS IS THE MAIN IMPORT. DO NOT TOUCH THIS OR THE THEME WILL BREAK. ^ */

@import url('https://raw.githubusercontent.com/nightfire37/Fallout4TerminalTheme-NoCRT/main/css/disableCRT.css'); */
/* ^ UNCOMMENT THIS IMPORT IF YOU WANT TO REMOVE THE CRT EFFECT ^ */

/* TO CUSTOMIZE THE THEME, UNCOMMENT THE LINES BELOW AND REPLACE THE VARIABLES */

/* REMOVE THIS LINE TO UNCOMMENT

:root {
  --background: #000700 !important;
  --text-color: #4AEF98 !important;
  --highlight: var(--text-color) !important;
}

   REMOVE THIS LINE TO UNCOMMENT ASWELL */
